 HI
 
 <accordion close-others="true">
    <accordion-group heading="Static Header, initially expanded" >
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="Static Header, initially expanded" >
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="Static Header, initially expanded" >
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="Static Header, initially expanded" >
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="Static Header, initially expanded" >
      This content is straight in the template.
    </accordion-group>
    
  </accordion>