
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    
  <display-name>Archetype Created Web Application</display-name>
 
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring-security.xml
		</param-value>
	</context-param>


	<filter>
    	<filter-name>UrlRewriteFilter</filter-name>
    	<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	
	<filter-mapping>
    	<filter-name>UrlRewriteFilter</filter-name>
    	<url-pattern>/login</url-pattern>
    	<url-pattern>/index.action</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>dbSessionFilter</filter-name>
		<filter-class>com.shasm.web.filters.TransactionFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>dbSessionFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
		<url-pattern>/do/*</url-pattern>
	</filter-mapping>
	
	<!--TODO can't we just add rest url's
	 Spring Security -->
	 <!-- The value given as DelegatingFilterProxy ’s <filter-name> is significant. This is the name used to look up the filter bean 
	      from the Spring application context.
	      Spring Security will automatically create a filter bean whose ID is springSecurityFilter-Chain , 
	      so that’s the name we’ve given to DelegatingFilterProxy in web.xml.
	      
		  As for the springSecurityFilterChain bean itself, it’s another special filter known as FilterChainProxy . 
	-->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/rest/*</url-pattern>
		<url-pattern>/do/*</url-pattern>
		
	</filter-mapping>
</web-app>
